In [27]:
for num in range(0,20): 
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [29]:
for num in range(10,20): 
    print(num, end=" ")

10 11 12 13 14 15 16 17 18 19

In [34]:
lists=[10, 20, 14, 55, 43, 87, 76]
print(lists)
print("Number of items in the List:")
print(len(lists))

[10, 20, 14, 55, 43, 87, 76]
Number of items in the List:
7

In [35]:
for num in range(0,20): 
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [53]:
print("Artificial Intelligence")
a="Artificial Intelligence"
for i in a:
    print(i)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [55]:
lists="-Your Name-","-Your Age-","-Your profession-"
for i in lists:
    print(i)

-Your Name-
-Your Age-
-Your profession-

In [59]:
my_tuple=(1, 'Welcome', 2, 'Hope')
print(my_tuple)

(1, 'Welcome', 2, 'Hope')

In [65]:
tuple1=(0,1,2,3)
tuple2=('python', 'HOPE')
print('(',tuple1,',',tuple2,')')

( (0, 1, 2, 3) , ('python', 'HOPE') )

In [82]:
lists=[20,10,16,19,25,1,276,188]
print(lists)
for i in lists:
   if i % 2 == 1:
        print (i,'is ''odd')

[20, 10, 16, 19, 25, 1, 276, 188]
19 is odd
25 is odd
1 is odd

In [83]:
lists=[20,10,16,19,25,1,276,188]
print(lists)
for i in lists:
   if i % 2 == 0:
        print (i,'is ','Even')

[20, 10, 16, 19, 25, 1, 276, 188]
20 is  Even
10 is  Even
16 is  Even
276 is  Even
188 is  Even